script(type="text/x-template")#slider-container
  .works-slider
    display(
      :works="works"
      :displayedWorks="displayedWorks"
      :currentWork="currentWork"
      :currentIndex="currentIndex"      
      @slide="handleSlide"
      @checkWork="checkActiveWork"
    )
    info(
      :currentWork="currentWork"
    )


script(type="text/x-template")#slider-display
  .works-slider__display(:data-slide="currentIndex + 1")
    .works-slider__display-content
      transition-group(
        tag="div"
        name="fade"
      ).works-slider__display-image
        img(
          src="#"
          v-for="(work, index) in works"
          v-if="index == currentIndex"
          :key="work.title"         
        ).works-slider__display-pic
      thumbs(
        :displayedWorks="displayedWorks"
        :currentWork="currentWork"
        @checkWork="$emit('checkWork', $event)"
      )
    buttons(
      :currentIndex="currentIndex"
      :works="works"
      @slide="$emit('slide', $event)"
    )


script(type="text/x-template")#slider-thumbs
  ul.works-slider__thumbs
    li.works-slider__thumbs-item(
      v-for="(work, index) in displayedWorks" 
      :class="{'is-active': work.id === currentWork.id}"
      @click.prevent="$emit('checkWork', index)"
    )
      a.works-slider__thumbs-link
        img(src="#", alt="", class="works-slider__thumbs-pic")


script(type="text/x-template")#slider-buttons
  .works-slider__buttons
    button(@click.prevent="$emit('slide', 'next')" :class="{'is-active': currentIndex < works.length - 1}").direction-btn.direction-btn--next
      +icon('arrow-down', 'direction-btn__arrow')
    button(@click.prevent="$emit('slide', 'prev')" :class="{'is-active': currentIndex > 0}").direction-btn.direction-btn--prev
      +icon('arrow-down', 'direction-btn__arrow')


script(type="text/x-template")#slider-info
  .works-slider__info
    tags(
      :tags="tagsArray"
    )
    .works-slider__text
      h3.works-slider__subtitle {{work.title}}
      p.works-slider__description {{work.description}}
    .works-slider__link
      a.iconed-link(:href="work.link")
        +icon('link', 'iconed-link__icon')
        span.iconed-link__text Посмотреть сайт


script(type="text/x-template")#slider-tags
  .works-slider__tags
    ul.tags
      li.tags__item(v-for="tag in tags")
        .tag {{tag}}